body {
    font-family: Book Antiqua;
}

h1 {
    font-family: sans-serif;
    border-bottom: 12px double #000;
    black;
    text-align: center;
    width: 50%;
    margin: 50px auto;
}

div {
    width: 50%;
    margin: 30px auto;
}

#cat {
    float: right;
}

#queen {
    background-image:
}

footer {
    text-align: center;

}

a:link {
    color:hotpink;
}

a:visited {
    color:cadetblue;
}