#panel3 {
    background: transparent url(panel3.jpg) no-repeat top left;
    height: 305px;
    width:903px;
}

#panel5 {
    background: transparent url(panel5.jpg) no-repeat top left;
    height: 556px;
    width: 572px;
}

.row {
    width: 908px;
    margin: 0 auto;
    position: relative;
}

#row3 {
    float: left
    margin: 0 auto;
    position: relative;
}

.bump {
    display: inline-block;
}

.bump5 {
    margin-left: 5px
}

.bump10 {
    margin-left: 10px
}

.bump15 {
    margin-left: 15px
}

.bump20 {
    margin-left: 20px
}

.bump50 {
    margin-left: 50px
}

.bump40 {
    margin-left: 40px
}

.bump80 {
    margin-left: 80px
}

.bubbles {
position: absolute;
font-family:'action_man_extendeditalic', sans-serif;
    font-size: 0.7em;
    line-height: 1.3;
    letter-spacing: -0.5px;
}

#bold {
    font-family: 'action_man_extendedBdIt', sans-serif;
    display: inline-block;
}

#bubble1 {
    top: 15px;
    left: 19px;
}

#bubble2 {
    top: 17px;
    left: 154px;
    width: 294px;
}

#bubble3 {
    top: 89px;
    left: 250px;
    width: 197px;
    text-align: left;
}

#bubble4 {
    top: 21px;
    left: 484px;
    width: 223px;
}

#bubble5 {
    top: 21px;
    left: 666px;
    width: 228px;
}


#bubble6 {
    top: 138px;
    left: 706px;
    width: 185px;
    text-align: center;
}

#bubble7 {
    top: 277px;
    left: 808px;
    width: 93px;
    text-align: center;
}

#bubble8 {
    top: 13px;
    left: 25px;
    width: 140px;
}

#bubble9 {
    top: 16px;
    left: 234px;
    width: 188px;
    text-align: center;
}

#bubble10 {
    top: 18px;
    left: 687px;
    width: 184px;
    text-align: center;
}

#bubble11 {
    top: 247px;
    left: 217px;
    width: 266px;
    text-align: center;
}

#bubble12 {
    top: 5;
    left: 16px;
    width: 200px;
    text-align: left;
}

#bubble13 {
    top: 466px;
    left: 13px;
    width: 163px;
    text-align: left;
}

#bubble14 {
    top: 535px;
    left: 215px;
    width: 156px;
    text-align: left;
    letter-spacing: -0.9;
}

#bubble15 {
    top: 11px;
    left: 375px;
    width: 201px;
    text-align: left;
}

#bubble16 {
    top: 13px;
    right: 23px;
    width: 160px;
    text-align: center;
}

#bubble17 {
    top: 399px;
    left: 381px;
    width: 123px;
    text-align: left;
}

#bubble18 {
    bottom: 75px;
    right: 379px;
    width: 141px;
    text-align: left;
}

#bubble19 {
    bottom: 77px;
    right: 56px;
    width: 141px;
    text-align: left;
}

#bubble20 {
    bottom: 55px;
    right: 73px;
    width: 141px;
    font-size: 1.1em;
    text-align: left;
}










